block footer

	footer.site-footer
		.footer-top
			.container
				.footer-top__inner
					a.footer-logo(href="#")
						img(src="img/footer-logo.png", alt="")
					p.footer-loc.footer-text г. Москва, 109004, ул. Земляной Вал, 50А/8 с2
					a.footer-tel.footer-text(href="tel:+74951503993") +7 (495) 150-39-93
					a.footer-email.footer-text(href="mailto:info@navicadata.ru") info@navicadata.ru
					.footer-social
						a(href="#" style="background-image: url(img/footer-vk.png)")
						a(href="#" style="background-image: url(img/footer-fb.png)")
		.footer-bottom
			.container.cf
				p.copyright.alignleft © 2017 Navicadata. Все права защищены.
				p.madein.alignright Разработка сайта: 
					a(href="http://belugalab.ru" target="_blank") Beluga Labs
