extends _layout
block content
	main.main-content
		.page__top(style="background-image: url(img/blog-bg.jpg)")
			.container
				.page__top__inner
					h1.page__top-title Блог
		.blog__page.container
			.blog__page-content
				.blog-single
					img(src="img/blog-single.jpg", alt="")
					.blog-single__inner
						h2.single__title Постоянный рост и сфера нашей активности
						p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем структуры требуют определения и уточнения  овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание систем Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создани Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем структуры требуют определения и уточнения  овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание систем Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создани
						p однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создани Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем структуры требуют определения и уточнения  овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание систем Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создани
						p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансов овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем структуры требуют определения и уточнения  овседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаем Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание систем Не следует,
						.blog-single__bottom.cf
							span.blog-single__date 17.03.2017
							.blog-single__socials


			aside.blog-sidebar
				.sidebar__block
					h5.sidebar__block-title Категории
					ul.sidebar-menu
						li
							a(href="#") Категория номер 1
						li
							a(href="#") Категория номер 2
						li
							a(href="#") Категория номер 3
						li
							a(href="#") Категория номер 4
						li
							a(href="#") Категория номер 5
						li
							a(href="#") Категория номер 6
						li
							a(href="#") Категория номер 7
				.sidebar__block
					h5.sidebar__block-title Популярные посты
					ul.sidebar-popular
						li.cf
							a.full-link(href="#")
							img.sidebar-popular__img(src="img/home-b1.jpg", alt="")
							p.sidebar-popular__text Развитие различных форм деятельности позволяет выполнять 
						li.cf
							a.full-link(href="#")
							img.sidebar-popular__img(src="img/home-b1.jpg", alt="")
							p.sidebar-popular__text Развитие различных форм деятельности позволяет выполнять 
						li.cf
							a.full-link(href="#")
							img.sidebar-popular__img(src="img/home-b1.jpg", alt="")
							p.sidebar-popular__text Развитие различных форм деятельности позволяет выполнять 
						li.cf
							a.full-link(href="#")
							img.sidebar-popular__img(src="img/home-b1.jpg", alt="")
							p.sidebar-popular__text Развитие различных форм деятельности позволяет выполнять 
				.sidebar__form
					p.sidebar__form-title Заказать звонок
					form
						input.sidebar__form-input(type="text" placeholder="Имя")
						input.sidebar__form-input(type="text" placeholder="Телефон")
						input.btn(type="submit" value="Отправить")









block inlineScripts