extends _layout
block content
	main.main-content
		.page__top(style="background-image: url(img/brand-bg.jpg)")
		.blog__page.container.brands__page
			.blog__page-content.brands__content
				img.brand-logo(src="img/nutanix-logo.png", alt="")
				p Мы предоставляем нашим клиентам технологии для создания прозрачных корпоративных IT инфраструктур нового поколения, путем объединения функций обработки, хранения данных и виртуализации в готовое "под ключ" гиперконвергентное решение. Наиболее передовые дата-центры в мире полагаются на веб-масштабируемые облачные технологии Nutanix для поддержки своих критически важных приложений любого масштаба и уровня сложности.
				p Отдел продаж: 
					a(href="mailto:sales@navicadata.ru") sales@navicadata.ru
					br
					| Техническая консультация: 
					a(href="mailto:nutanix-support@navicadata.ru") nutanix-support@navicadata.ru
				p  &nbsp;
				.video-wrapper
					iframe(src="https://www.youtube.com/embed/wRbqnB3vhCI", frameborder="0" allowfullscreen)
				h3 Вызовы, стоящие сегодня перед корпоративными IT службами
				p От IT инфраструктур ожидают выполнения все большего объема работы, с повышением темпов при существенном уменьшении затрат. Требуются новые способы быстрого разворачивания бизнес-приложений и ИТ-услуг при снижении общей стоимости владения. 
				ul.brands__page-list
					li(style="background-image: url(img/brp1.png)")
						p.brands__page-list__title Дорого и сложно
						p.brands__page-list__description Приобретение, развертывание, управление и масштабирование инфраструктуры центров обработки данных требуют больших финансовых и временных затрат.
					li(style="background-image: url(img/brp2.png)")
						p.brands__page-list__title Разбиение IT на изолированные участки
						p.brands__page-list__description Построение IT инфраструктур, созданных с помощью раздельных серверов, систем хранения данных и локализованного сетевого доступа, приводит к отсутствию гибкости и требует узкоспециальных знаний.
					li(style="background-image: url(img/brp3.png)")
						p.brands__page-list__title Нет времени для внедрения инноваций
						p.brands__page-list__description Большая часть времени уходит на решение эксплуатационных вопросов, при этом не уделяется должного внимания инновациям.
				p Современные IT службы требуют инфраструктуру нового поколения, обеспечивающую гибкость и экономику сопоставимую с публичными облачными сервисами, но с сохранением безопасности и надежности приватных дата-центров.
				h3 Что представляет собой гиперконвергентная инфраструктура?
				p Гиперконвергентная инфраструктура комбинирует функции обработки и хранения данных внутри физических серверов на базе процессоров x86, объединенных в горизонтально-масштабируемые кластера. За счет этого значительно сокращается потребление электроэнергии и места в ЦОД-ах, так же как нивелируются проблемы традиционных подходов к хранению данных. 
				img(src="img/brp-img1.jpg", alt="")
				h3 Упрощение IT инфраструктуры
				p Благодаря объединению функций хранения данных и слоя виртуализации в едином решении от Nutanix, устраняется зависимость от устаревших гипервизоров и обеспечивается прозрачность прослойки виртуализации. Интегрированная платформа управления обеспечивает реальное управление инфраструктурой "одним щелчком", включая аналитику и автоматическое устранение сбоев. 
				img(src="img/brp-img2.jpg", alt="")
				.gray-block.cf.with-ico(style="background-image: url(img/gray-ico.png)")
					h3 Включите мобильность приложений
					p App Mobility Fabric (AMF) представляет собой набор ключевых технологий, благодаря которым приложения не "запираются" в рамках корпоративной IT платформы, а могут перемещаться вместе с данными между приватными и публичными облачными средами. Такая мобильность позволяет IT руководителям самостоятельно решать, когда и как они будут использовать приватные и публичные облачные инфраструктуры, исходя только из потребностей бизнеса. 
				h3 Как мы это делаем
				p Гиперконвергентные решения Nutanix уникальны ввиду использования только веб-масштабируемых технологий и архитектурных подходов, берущих свое начало в крупнейших интернет и облачных компаниях (таких как Google, Facebook и Amazon). 
				ul.brands__page-list
					li(style="background-image: url(img/brp4.png)")
						p.brands__page-list__title Весь интеллект – в программном обеспечении
						p.brands__page-list__description 100% программно-определяемая технология, которая не зависит от специализированных аппаратных средств при обеспечении максимальных параметров устойчивости, производительности и доступности. Получение новых возможностей и функционала не требует обновления аппаратного обеспечения.
					li(style="background-image: url(img/brp5.png)")
						p.brands__page-list__title Распределение всего и вся
						p.brands__page-list__description Все данные, метаданные и процессы распределяются по всему кластеру, устраняя "бутылочные горлышки" производительности и обеспечивая прогнозируемую масштабируемость без ограничений.
					li(style="background-image: url(img/brp6.png)")
						p.brands__page-list__title Автоматизация и аналитика
						p.brands__page-list__description Мощная, глубокая автоматизация и мониторинг инфраструктуры для эффективного управления данными, в сочетании с программным REST интерфейсом для интеграции с инструментами управления центрами данных.
					li(style="background-image: url(img/brp7.png)")
						p.brands__page-list__title Само-излечение
						p.brands__page-list__description Спроектировано быть устойчивым к отказам компонентов путем локализации неисправностей и автоматического восстановления без выключения всей системы.
				h3 Преимущества для Вас
				ul.brands__page-list.two-col
					li(style="background-image: url(img/brp8.png)")
						p.brands__page-list__title Снижение затрат
						p.brands__page-list__description Снижение капитальных и эксплуатационных расходов на 40-60%.
					li(style="background-image: url(img/brp9.png)")
						p.brands__page-list__title Безграничная масштабируемость
						p.brands__page-list__description Предсказуемое масштабирование инфраструктуры без ограничений.
					li(style="background-image: url(img/brp10.png)")
						p.brands__page-list__title Время для ИТ-инноваций
						p.brands__page-list__description Бесплатные ИТ-ресурсы с фокусом на ваши важные бизнес-инициативы и настоящие инновации.
					li(style="background-image: url(img/brp11.png)")
						p.brands__page-list__title Cамый быстрый ввод в эксплуатацию
						p.brands__page-list__description Ввод в промышленную эксплуатацию при покупке, развертывании и управлении инфраструктурой происходит в 8 раз быстрее.
					li(style="background-image: url(img/brp12.png)")
						p.brands__page-list__title Наименьший расход ресурсов
						p.brands__page-list__description Снижение энергопотребления, расходов на охлаждение и занимаемого места в центрах обработки данных до 90%, с применением форм-фактора 2U.
				.gray-block.cf
					h3 Любые нагрузки любых масштабов
					ul.complete-list.two-col
						li Виртуализация рабочих мест VMware Horizon w/ View
						li Hadoop
						li VMware vRealize
						li Унифицированные коммуникации
						li Microsoft Exchange
						li Oracle
						li SAP
						li Виртуализация рабочих мест Citrix XenDesktop и XenApp
						li Splunk
						li Microsoft Sharepoint
						li Microsoft SQL Server
						li Приватные облачные решения Microsoft Azure Pack






			aside.blog-sidebar
				.sidebar__block
					h5.sidebar__block-title Бренды
					ul.sidebar-menu.brands-menu
						li.menu-item-has-children.active
							a(href="#") NUTANIX
							ul.sub-menu
								li
									a(href="#") О nutanix
								li
									a(href="#") Обзор решений
								li
									a(href="#") Продукты
								li
									a(href="#") Prism
								li
									a(href="#") Acropolis
						li
							a(href="#") ArgoTech
						li
							a(href="#") Arista
						li
							a(href="#") GeoVision
						li
							a(href="#") KEMP
						li
							a(href="#") QTECH
						li
							a(href="#") D-Link
						li
							a(href="#") Huawei
						li
							a(href="#") ECI
						li
							a(href="#") ИРЭ-Полюс
				
				.sidebar__form
					p.sidebar__form-title Заказать звонок
					form
						input.sidebar__form-input(type="text" placeholder="Имя")
						input.sidebar__form-input(type="text" placeholder="Телефон")
						input.btn(type="submit" value="Отправить")









block inlineScripts