extends _layout
block content
	main.main-content
		.page__top(style="background-image: url(img/blog-bg.jpg)")
			.container
				.page__top__inner
					h1.page__top-title Услуги
		.blog__page.container
			aside.services-sidebar
				ul.services__menu
					li.menu-item-has-children
						a(href="#" style="background-image: url(img/srv1.png)") Логистические и транспортные услуги
						ul.sub-menu
							li.current-menu-item
								a(href="#") Аренда складского комплекса
							li
								a(href="#") Аутсорсинг ВЭД
							li
								a(href="#") Логистические услуги
					li
						a(href="#" style="background-image: url(img/srv2.png)") IT аутсорсинг
					li
						a(href="#" style="background-image: url(img/srv3.png)") IT консалтинг
					li
						a(href="#" style="background-image: url(img/srv4.png)") Организация услуг защищенной связи и передачи данных
					li
						a(href="#" style="background-image: url(img/srv5.png)") Предоставление облачных сервисов






			.services__page-content
					h2.services__title Аренда складского комплекса
					p Навика Дата оказывает полный комплекс складских услуг. Складской комплекс находится в Юго-Восточном округе Москвы, в Печатниках, с удобными подъездными путями с стороны Волгоградского проспекта, с Южного Порта, МКАД со стороны Люблино и Марьино, обеспечивающих беспрепятственный проезд, маневрированием, и в случае необходимости отстоем грузового автотранспорта.
					p Складское помещение класса <strong>В+</strong>, общей площадью <strong>4000 м²</strong>, сухое, отапливаемое, оборудованное системой пожаротушения. Имеется отдельная площадка для крупногабаритных грузов площадью 350 м². Склад расположен на закрытой круглосуточно охраняемой территории с контрольно-пропускным режимом. Ведется круглосуточное <strong>IP видеонаблюдение</strong> с охватом 99% площади, с возможностью удаленного доступа к просмотру видео с различными правами доступа.
					ul
						li Хранение с полной материальной ответственностью
						li Обработка, подготовка, комплектация заказов по заявкам в согласованные сроки; приемка, идентификация поставок с контролем целостности упаковки
						li Погрузочно-разгрузочные работы ПРР (ручные и механизированные), приемка/выдача ТМЦ по заявкам в согласованные сроки по местам, поштучно, с фиксацией веса и объема груза
						li Перемещение ТМЦ внутри склада, в т.ч. по требованию поклажедателя для проведения технологических операций с ТМЦ
						li Обеспечение четкой маркировки ТМЦ с прямым доступом к каждому паллетоместу, либо, в случае негабаритного товара, к каждой единице хранимых товаров
						li Ведение учета ТМЦ с предоставлением полной отчетности по состоянию запасов и движению ТМЦ за согласованные периоды
						li Поддержание учета ТМЦ по серийным номерам
						li Поддержание согласованного документооборота с оформлением необходимых документов
						li Упаковка ТМЦ в стандартную одноразовую непромокаемую, картонную/деревянную тару, или с использованием других материалов по отдельной договоренности между сторонами
						li Проведение полных инвентаризаций по утвержденному графику, и выборочных по запросу Заказчика
						li Поддержание согласованных нормативов по подбору/отгрузке заказов
						li Нормальный режим работы склада: с понедельника по пятницу с 9 до 18 часов, суббота-воскресенье — выходные дни. При необходимости компания обеспечивает работу склада в любой день недели в круглосуточном режиме
						li Страхование ТМЦ
						li Поддержание в помещениях склада круглосуточно температуры воздуха в пределах от +12ºС до +25С и влажности воздуха не более 75–80%
						li Антипылевое покрытие
						li Круглосуточная охрана
						li Профессиональная команда по управлению складом
						li Полный комплект складской техники
						li Собственный автопарк

			









block inlineScripts